body{
    background-color: beige;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-bottom: 20px;
}
.btn-select{

    cursor: pointer;
    color: white;
    background-color: rgb(82, 8, 8);
    padding: 6px;
    border: none;
    font-size: 18px;

}
.board{
    display: grid;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    
}
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-top: 20px;
    
}

.black-color{
    background-color: black;
    color: white;
    padding: 12px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
}

.random-color{
    background-color: rgb(255, 255,255);
    color: black;
    padding: 12px;
    border: none;
    font-size: 18px;
    cursor: pointer;
     border-radius: 50%;
}

.reset-btn{
background-color:rgb(107, 70, 70);
color: black;
padding: 12px;
border: none;
font-size: 18px;
cursor: pointer;
border-radius: 50%;
}
button:hover{
    background-color: chartreuse;
}